@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    height: 100%;
    background: linear-gradient(90deg, rgb(255,255,255), rgb(190,200,200));
}

.content {
    width: 58%;
    height: 100%;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 35%;
}

div h1, div nav {
    align-items: center;
}

#mode {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-family: 'Source Sans Pro', sans-serif;;
}

h1 {
    font-size: 2.9rem;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

a:hover {
    color: slategray;

}

button {
    
}

main > div {
    /* border: 1px solid red; */
    margin: 3% auto;
}

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-info {
    width: 60%;
}

.img-container {
    margin-top: 1%;
    width: 35%;
}

.img-container img {
    width: 100%;
    border-radius: 3%;
}

hr {
    /* margin: auto; */
}

.skillset {
    display: flex;
    justify-content: flex-start;
    width: 60%;
}

.skillset div {
    margin-right: 20%;
}

.title {
    font-weight: 800;
}

ul {
    list-style: square;
}

footer {
    display: flex;
    justify-content: center;
}

.foot {
    position: fixed;
    bottom: 0;
}